* {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#logincard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  border-style: solid;
  border-width: 1px;
  padding: 30px;
  height: 60%;
  width: 400px;
}

#textinput {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#username,
#password {
  font-size: large;
  border: none;
  border-bottom: 1px solid;
}
